<a href="https://colab.research.google.com/github/Napawan2005/ML_FutureSkil/blob/main/ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

# **set columns + row 20 แถว**

In [2]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_row',20)

# **set style**

In [3]:
sns.set(font_scale=1.5)
sns.set_style('whitegrid')

```sns.set(font_scale=1.15)```

**ความหมาย:** <br>
ตั้งค่าขนาดตัวอักษรบนกราฟที่สร้างด้วย seaborn ให้ใหญ่ขึ้น 1.15 เท่าจากค่าปกติ

```sns.set_style("whitegrid")```

**ความหมาย:**<br>
กำหนดธีมพื้นหลังของกราฟให้เป็นแบบ "whitegrid"

# **clone dataset in git**

In [5]:
!git clone https://github.com/pornpra/Credit-Scoring-Online-Course.git

Cloning into 'Credit-Scoring-Online-Course'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (6/6), 1.03 MiB | 22.42 MiB/s, done.

In [6]:
!ls

Credit-Scoring-Online-Course  sample_data

In [7]:
!ls Credit-Scoring-Online-Course

credit_scoring_dataset.zip  README.md

# **แตก ZIPFILE**

In [20]:
import zipfile
zf = zipfile.ZipFile('/content/Credit-Scoring-Online-Course/credit_scoring_dataset.zip')
df = pd.read_csv(zf.open('credit_scoring_dataset.csv') , index_col= 'customer_id')
print(df.shape)
df.head()

(32581, 11)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,cb_person_default_on_file,cb_person_cred_hist_length
customer_id,,,,,,,,,,,
616d39c7-4cca-4e2e-a65c-848a9543cfe1,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,Y,3
49d00b80-f7ec-41ec-8063-8cc32f384268,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,N,2
25172c7f-160a-44ac-b271-5833b7a679f6,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,N,3
a8f721ac-9696-48b3-ae35-bc8b13592d26,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,N,2
53be6c0c-0a33-41c1-a8d0-e9784b077f98,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,Y,4

In [21]:
print(df.shape)
df.head()

(32581, 11)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,cb_person_default_on_file,cb_person_cred_hist_length
customer_id,,,,,,,,,,,
616d39c7-4cca-4e2e-a65c-848a9543cfe1,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,Y,3
49d00b80-f7ec-41ec-8063-8cc32f384268,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,N,2
25172c7f-160a-44ac-b271-5833b7a679f6,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,N,3
a8f721ac-9696-48b3-ae35-bc8b13592d26,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,N,2
53be6c0c-0a33-41c1-a8d0-e9784b077f98,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,Y,4

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32581 entries, 616d39c7-4cca-4e2e-a65c-848a9543cfe1 to 5185b116-af1e-4951-b9f0-d9d1f0d79b3e
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   cb_person_default_on_file   32581 non-null  object
 10  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 3.0+ MB

In [24]:
pd.isnull(df).sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64